---
import { SITE_CONTENT_EN } from "../../config/en/index.ts";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
---

<Layout>
  <Hero {...SITE_CONTENT_EN.hero} />
  <Experience experience={SITE_CONTENT_EN.experience} />
  <Projects projects={SITE_CONTENT_EN.projects} />
  <About {...SITE_CONTENT_EN.about} name={SITE_CONTENT_EN.hero.name} />
</Layout>
