---
import { SITE_CONTENT_ES } from "../config/es/index";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
---

<Layout>
  <Hero {...SITE_CONTENT_ES.hero} />
  <Experience experience={SITE_CONTENT_ES.experience} />
  <Projects projects={SITE_CONTENT_ES.projects} />
  <About {...SITE_CONTENT_ES.about} name={SITE_CONTENT_ES.hero.name} />
</Layout>

<!-- Script que solo se ejecuta en el cliente -->
<client:only>
  <script>
    if (typeof window !== 'undefined' && window.location.pathname === '/') {
      window.location.href = '/es';
    }
  </script>
</client:only>
