---
// src/pages/terms.astro
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting...</title>
</head>
<body>
<h1>Redirecting...</h1>
</body>
</html>
<client:only>
  <script>
    if (typeof window !== 'undefined' && window.location.pathname === '/terms') {
      window.location.href = '/es/terms'; // Redirect to Spanish by default
    }
  </script>
</client:only>