---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name , title} = Astro.props;
---

<Section text={title} href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row">
    <p class="text-neutral w-auto text-base md:pr-5">{description}</p>
    <div
        class="w-64 h-80 bg-white p-4 flex-shrink-0 rotate-[5deg] md:rotate-[7deg]"
    >
      <Image
          class="object-cover"
          src={image}
          width="260"
          height="260"
          alt={`Imagen de ${name}`}
      />
    </div>
  </div>
</Section>
