---
import Section from "./Section.astro";
import ExperienceItem from "./ExperienceItem.astro";
import type { ExperienceProps } from "@types";

const experience: ExperienceProps = Astro.props.experience; // Ahora es un objeto
const firstItem = experience.items[0]; // Primer elemento de la lista
const remainingItems = experience.items.slice(1); // Restantes elementos
---

<Section text={experience.title} href="experience">
  <ExperienceItem {...firstItem} />

  <!-- Sección colapsada inicialmente -->
  <div id="more-experience" class="max-h-0 overflow-hidden transition-all duration-300">
    {remainingItems.map((item) => (
      <ExperienceItem {...item} />
    ))}
  </div>

  <button
    id="toggle-experience"
    class="text-white hover:underline mt-2 flex items-center"
    data-see-more={experience.seeMoreText}
    data-see-less={experience.seeLessText}
  >
    <span id="button-text">{experience.seeMoreText}</span>
    <svg
      id="button-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="16"
      height="16"
      class="ml-1 transition-transform duration-300"
    >
      <path d="M7 10l5 5 5-5z" fill="currentColor" /> <!-- Triángulo hacia abajo -->
    </svg>
  </button>
</Section>

<script>
  // Obtener referencias a los elementos DOM
  const button = document.getElementById("toggle-experience");
  const moreExperience = document.getElementById("more-experience");
  const buttonText = document.getElementById("button-text");
  const buttonIcon = document.getElementById("button-icon");

  if (button && moreExperience && buttonText && buttonIcon) {
    button.addEventListener("click", () => {
      // Determinar si la sección está expandida
      const isExpanded = moreExperience.style.maxHeight;

      if (isExpanded) {
        // Colapsar el contenido
        moreExperience.style.maxHeight = "";
        buttonText.textContent = button.dataset.seeMore; // Texto de ver más
        buttonIcon.style.transform = "rotate(0deg)"; // Triángulo hacia abajo
      } else {
        // Expandir el contenido basado en su altura
        moreExperience.style.maxHeight = `${moreExperience.scrollHeight}px`;
        buttonText.textContent = button.dataset.seeLess; // Texto de ver menos
        buttonIcon.style.transform = "rotate(180deg)"; // Triángulo hacia arriba
      }
    });
  } else {
    console.error("Uno o más elementos del DOM no se encontraron.");
  }
</script>
