---
import type { ExperienceItemProps } from "@types";

const props: ExperienceItemProps = Astro.props as ExperienceItemProps;

---

<div class="mb-10">
  <h3 class="text-2xl font-serif font-semibold text-white mb-1.5">
    {props.company}
  </h3>
  <div class="flex flex-col items-start pb-5">
    <h4 class="text-2xl font-serif text-primary font-medium mb-0.5">
      {props.position}
    </h4>
    <span class="text-sm text-white/70 pb-[2px]">
      {props.startDate} — {props.endDate}
    </span>
  </div>
  {Array.isArray(props.summary) ? (
    <ul class="list-none">
      {props.summary.map((log) => (
        <li class="text-base relative text-neutral pl-8 mb-3 before:absolute before:left-0 before:top-1 before:content-[url(/check.svg)]">
          {log}
        </li>
      ))}
    </ul>
  ) : (
    <p class="text-base text-neutral">{props.summary}</p>
  )}
  {props.links && props.links.length > 0 && (
    <div class="pt-5">
      {props.links.map(({ text, href }) => (
        <a
          href={href}
          target="_blank"
          class="text-primary hover:underline inline-block mr-4"
        >
          {text}
        </a>
      ))}
    </div>
  )}
</div>
