---
// src/components/Footer.astro
import type { SiteConfig } from "@types";

interface Props extends Pick<SiteConfig, "author" | "socialLinks"> {
  localizedPrivacyLink: { text: string; href: string };
  localizedTermsLink: { text: string; href: string }; // Add this for Terms
}

const { author, socialLinks, localizedPrivacyLink, localizedTermsLink } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="text-white w-full text-center pb-8 pt-5 px-5 border-t border-neutral/20"
>
  <ul class="flex flex-wrap gap-x-5 justify-center mb-5 text-xs">
    {
      socialLinks.map(({ text, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="hover:text-primary inline-block py-3 px-4 after:relative after:bottom-[-4px] after:content-[url(/external.svg)]"
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
  <ul class="flex flex-wrap gap-x-5 justify-center mb-5 text-xs">
    <li>
      <a
        href={localizedPrivacyLink.href}
        class="hover:text-primary inline-block py-3 px-4"
      >
        {localizedPrivacyLink.text}
      </a>
    </li>
    <li>
      <a
        href={localizedTermsLink.href}
        class="hover:text-primary inline-block py-3 px-4"
      >
        {localizedTermsLink.text}
      </a>
    </li>
  </ul>
  <p class="text-xs">
    {author} © {currentYear}. <span class="text-neutral">Designed by</span>
    Moisés Machuca
  </p>
</footer>