---
// src/components/Header.astro
import Menu from "@icons/Menu.astro";
import LanguageSwitcher from "@icons/LanguageSwitcher.astro";
import { Image } from "astro:assets";
import type { HeaderProps } from "@types";

type Props = HeaderProps;

const { siteLogo, localizedNavLinks, lang } = Astro.props;
const navLinks = localizedNavLinks[lang]; // Generar enlaces según el idioma actual
const homePage = lang === "es" ? "/es" : "/en";

// Idiomas disponibles
const languages = [
  { code: "es", label: "Español" },
  { code: "en", label: "English" },
];
---

<header
  class="max-w-5xl mx-auto flex justify-between items-center px-5 py-6 top-0 z-50 sticky bg-black animate-slideIn"
>
  <a href={`/${lang}/`} aria-label="Home link">
    <Image
      class="rounded-full"
      src={siteLogo}
      width="45"
      height="45"
      alt="website logo"
    />
  </a>

  <div class="flex items-center">
    <div class="relative inline-block text-left mr-2">
      <button
        type="button"
        id="language-button"
        class="text-neutral p-1.5"
        aria-expanded="false"
      >
        <LanguageSwitcher class="w-6 h-6" />
      </button>

      <ul
        class="text-neutral border absolute right-0 top-12 bg-black border-neutral/40 py-5 px-4 rounded-xl hidden"
        id="language-menu"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="language-button"
        tabindex="-1"
      >
        {languages.map((language) => {
          // Construct the correct URL for the language switch
          const currentPath = Astro.url.pathname;
          let newPath = "";
          // Check if the current path includes a language prefix
          if (currentPath.startsWith("/es/") || currentPath.startsWith("/en/")) {
            newPath = currentPath.replace(/^\/(es|en)/, `/${language.code}`);  // Keep sub-path
          } else {
            //if is root, go to language
              newPath = `/${language.code}/`
          }

          return (
            <li>
              <a
                href={newPath}
                class="text-gray-700 block px-4 py-2 text-sm hover:text-primary"
                role="menuitem"
                tabindex="-1"
                id={`language-menu-item-${language.code}`}
              >
                {language.label}
              </a>
            </li>
          );
        })}
      </ul>
    </div>

    <span class="text-neutral text-sm mx-2">|</span>

    <button
      type="button"
      id="menu-button"
      class="sm:hidden text-neutral px-1.5 mr-2"
      aria-expanded="false"
      aria-controls="main-menu"
    >
      <Menu class="w-6 h-6" />
    </button>

    <nav
      class="hidden text-neutral border absolute right-5 top-20 bg-black border-neutral/40 py-5 px-4 rounded-xl sm:block sm:border-0 sm:p-0 sm:static sm:bg-transparent"
      id="main-menu"
    >
      <ul class="sm:flex gap-2">
        {navLinks.map((link) => (
          <li class="relative">
            <a
              class="text-gray-700 block px-4 py-2 text-sm hover:text-primary"
              href={link.href}
              data-section={link.href}
            >
              {link.text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>

<script>
  function setupButtonEvents() {
    const button = document.querySelector("#menu-button");
    const menu = document.querySelector("#main-menu");
    const navItems = document.querySelectorAll(
      "#main-menu > ul > li a[data-section]"
    );
    const languageButton = document.querySelector("#language-button");
    const languageMenu = document.querySelector("#language-menu");
    //check if we are in /es /en or /
    const isHomePage = window.location.pathname === '/es/' || window.location.pathname === '/en/' ||  window.location.pathname === '/';

    const toggleMenu = () => {
      menu?.classList.toggle("hidden");
      const isHidden = menu?.classList.contains("hidden");
      button?.setAttribute("aria-expanded", `${!isHidden}`);
    };

    const toggleLanguageMenu = () => {
      languageMenu?.classList.toggle("hidden");
      const isHidden = languageMenu?.classList.contains("hidden");
      languageButton?.setAttribute("aria-expanded", `${!isHidden}`);
    };

    button?.addEventListener("click", toggleMenu);
    languageButton?.addEventListener("click", toggleLanguageMenu);

    navItems.forEach((item) => {
      item?.addEventListener("click", (event) => {
        const sectionId = item.getAttribute('data-section');
        const lang = window.location.pathname.split('/')[1] || 'es'; // Get current language
        const homePage = lang === "es" ? "/es" : "/en";

        if (!isHomePage) {
          event.preventDefault();
          window.location.href = `${homePage}${sectionId}`;
        }
        toggleMenu();
      });
    });
  }

  document.addEventListener("DOMContentLoaded", setupButtonEvents);
  document.addEventListener("astro:after-swap", setupButtonEvents);
</script>

<style>
header {
  animation-timeline: scroll();
  animation-range: 0 650px;
  }
</style>