---
import type { HeroProps } from "@types";
import { Image } from "astro:assets";
type Props = HeroProps;

// Obtener las propiedades dinámicamente
const { name, specialty, summary, email, contactText } = Astro.props;
---

<div class="py-24 md:py-32" id="#hero">
  <h1
    class="text-7xl font-serif mb-1.5 sm:text-8xl md:text-9xl md:mb-0 text-white font-bold tracking-tightest"
  >
    {name}
  </h1>
  <p
    class="text-4xl sm:text-5xl leading-[46px] md:text-6xl font-serif text-primary font-bold tracking-tighter mb-9"
  >
    {specialty}
  </p>
  <p class="text-neutral font-normal text-base md:text-lg mb-16">
    {summary}
  </p>

  <!-- Contenedor del botón y los iconos -->
  <div class="flex items-center gap-6">
    <!-- Botón de contacto -->
    <a
      class="text-sm py-4 px-6 text-[#fff] inline-block font-medium leading-5 bg-primary rounded-full"
      href={`mailto:${email}`}
    >
      {contactText}
    </a>

    <!-- Iconos de redes sociales -->
    <div class="flex gap-4">
      <a
        href="https://www.linkedin.com/in/mickey-gudiel-324446233/"
        target="_blank"
        aria-label="LinkedIn"
        class="text-white hover:text-primary"
      >
        <Image
          src="/icons/linkedin.png"
          alt="LinkedIn"
          width="32"
          height="32"
        />
      </a>
      <a
        href="https://www.facebook.com/mickey.gr.77/"
        target="_blank"
        aria-label="Facebook"
        class="text-white hover:text-primary"
      >
        <Image
          src="/icons/facebook.png"
          alt="Facebook"
          width="32"
          height="32"
        />
      </a>
      <a
        href="https://gitlab.com/MickeyGR"
        target="_blank"
        aria-label="GitLab"
        class="text-white hover:text-primary"
      >
        <Image
          src="/icons/gitlab.svg"
          alt="GitLab"
          width="32"
          height="32"
        />
      </a>
    </div>
  </div>
</div>
