---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Featured Projects" href="projects">
  <div class="space-y-12 pb-20"> <!-- Agregado contenedor con espacio -->
    {
      projects.map(({ name, summary, image, links }, index) => {
        return (
          <div
            style={`top: calc(4rem + ${index * 2}rem);`}
            class="sticky rounded-2xl border border-neutral/20 bg-black"
          >
            <div class="w-full h-auto md:h-96 relative z-[1] bg-[#1c232d]/85 bg-difu before:content-[''] before:rounded-2xl before:absolute before:z-[-1] before:opacity-[5%] before:inset-0 before:bg-[url(/raja.png)] before:bg-repeat before:bg-[length:128px] rounded-2xl grid grid-cols-1 sm:grid-cols-2 gap-6 p-6">
              <!-- Texto y enlaces -->
              <div class="flex flex-col justify-between">
                <div>
                  <h3 class="text-3xl font-medium font-serif mb-5 text-primary">
                    {name}
                  </h3>
                  <p class="text-neutral text-base">{summary}</p>
                </div>
                <div class="pt-6 flex flex-wrap gap-4 text-white">
                  {links?.map(({ text, href }) => (
                    <a
                      href={href}
                      target="_blank"
                      class="hover:underline after:content-[url(/external.svg)] after:relative after:bottom-[-5px]"
                    >
                      {text}
                    </a>
                  ))}
                </div>
              </div>
              <!-- Imagen -->
              <div class="flex items-center justify-center sm:justify-end overflow-hidden">
                <Image
                  class="w-full sm:w-[80%] h-auto object-cover rounded-ss-xl rounded-ee-2xl"
                  src={image}
                  alt={name}
                  width="736"
                  height="483"
                />
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</Section>
