---
import { SITE_CONTENT_ES } from "../../config/es/index.ts";
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
---

<Layout>
  <div class="max-w-3xl mx-auto px-5 py-10 font-serif leading-relaxed">
    {SITE_CONTENT_ES.terms.sections.map((section) => (
      <Section text={section.title} href={section.href}>
        <Fragment set:html={section.content} />
      </Section>
    ))}
  </div>
</Layout>