---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "../config/index";
import Footer from "@components/Footer.astro";

// Determinar el idioma actual (por ejemplo, de la URL o de la configuración del usuario)
const lang = Astro.url.pathname.split("/")[1] || "es"; // Por defecto a "es"

// Seleccionar configuración del idioma correspondiente
const {
  title,
  description,
  siteLogo,
  localizedNavLinks,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  privacyLink,
  termsLink
} = SITE_CONFIG[lang];

// Generar URL para Open Graph
const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-smooth scroll-pt-16">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="author" content={author} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:image" content={ogImgUrl} />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImgUrl} />
  <ViewTransitions />
</head>
<body class="font-sans bg-black">
<Header
  siteLogo={siteLogo}
  localizedNavLinks={localizedNavLinks}
  lang={lang}
/>
<main class="max-w-3xl px-5 mx-auto">
  <slot />
</main>
<Footer author={author} socialLinks={socialLinks} localizedPrivacyLink={privacyLink} localizedTermsLink={termsLink}/>
</body>
</html>
